<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.cws.mapper.CarWashMapper">

  <insert id="insertCafeWash" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO car_washes (user_id, title, address, thumbnail)
    VALUES (#{userId}, #{title}, #{address}, #{thumbnail})
  </insert>

  <insert id="insertBookmark" parameterType="long">
    INSERT INTO bookmarks (user_id, car_wash_id)
    VALUES (#{userId}, #{carWashId})
  </insert>

  <delete id="deleteBookmark" parameterType="long">
    DELETE FROM bookmarks
    WHERE user_id = #{userId} AND car_wash_id = #{carWashId}
  </delete>

  <delete id="deleteZone" parameterType="long">
    DELETE FROM zones
    WHERE id = {zoneId}
  </delete>

  <select id="isBlockUser" resultType="boolean" parameterType="long">
    SELECT EXISTS
    (
      SELECT id FROM blacklist
      WHERE user_id = #{userId} AND car_wash_id = #{carWashId}
    )
  </select>

  <select id="selectCarWashById" resultType="kr.cws.model.domain.CarWash">
    SELECT *
    FROM  car_washes
    WHERE id = #{carWashId}
  </select>

</mapper>