<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.cws.mapper.ZoneMapper">

  <select id="isExistsZoneNumber" resultType="boolean">
    SELECT EXISTS
    (
      SELECT id
      FROM zones
      WHERE car_wash_id = #{carWashId} AND
      number = #{zoneNumber}
    )
  </select>

  <insert id="insertZones" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO zones (car_wash_id, number)
    VALUES
    <foreach collection="list" item="zone" separator=",">
      (
      #{zone.carWashId},
      #{zone.number}
      )
    </foreach>
  </insert>

  <insert id="insertZone" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO zones (car_wash_id, number)
    VALUES (#{carWashId}, #{number})
  </insert>

  <update id="updateZone">
    UPDATE zones
    <set>
      <if test="number != null">number = #{number}</if>
    </set>
    WHERE id = #{id}
  </update>

  <delete id="deleteZone">
    DELETE FROM zones
    WHERE id = #{id}
  </delete>

  <select id="selectZoneUseInfo" resultType="kr.cws.model.dto.response.ZoneUseInfoRes">
    SELECT id, number,
      ( SELECT EXISTS
        (
          SELECT id FROM reservations
          WHERE zone_id = zones.id
          AND start_time &lt;= #{searchTime}
          AND #{searchTime} &lt;= end_time
        )
      ) AS currentUse
    FROM zones
    WHERE car_wash_id = #{carWashId}
  </select>

</mapper>